<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-body">
            <header class="header">
                <hgroup>
                    <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                    <p class="tagline">{{ TAGLINE }}</p>
                {% for title, link in MENUITEMS %}
                    <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% for title, link in SOCIAL %}
                    <p class="links"><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                </hgroup>
            </header>
        </div>
    </div>
</div>
